header {
  position: fixed;
  top: $border;
  width: calc(100vw - #{$border} * 2);
  display: flex;
  justify-content: space-between;
  z-index: 999;

  h2 {
    font-size: 1.2rem;
    display: flex;

    span {
      opacity: 0;
    }
  }

  .date-time {
    text-align: right;

    div {
      font-size: 0.6rem;

      span {
        text-align: center;
        display: inline-block;
      }

      .single {
        min-width: 10px;
      }

      .double {
        min-width: 32px;
      }
    }
  }
}
