.image {
  position: fixed;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  height: 70%;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  
  &.show {
    opacity: 1;
    transition: opacity 0.5s ease-out;
  }
  &.upper {
    z-index: 999;
  }
}