.menu {
  position: fixed;
  bottom: 0;
  transform: translateY(50%);

  &__item {
    opacity: 0;
    transition: all 0.5s ease-out;

    &.target {
      opacity: 1;
      color: $red !important;
      transition: all 0.5s ease-out;
    }
  }
}